* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(71, 71, 134); */
  background: linear-gradient(rgb(71, 71, 134) 40%, rgb(176, 141, 231) 100%);
}

.main {
  width: 90%;
  height: 700px;
  background: rgb(71, 71, 134);
  /* border: solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.fixed-section {
  /* border: solid yellow; */
  position: fixed;
  width: 89.5%;
  background: rgb(71, 71, 134);
  height: 120px;
  z-index: 100;
}

.nav {
  /* border: solid; */
  width: 100%;
  height: 100px;

  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo-image {
  width: 50px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 20px 13px 10px 6px black;
}

.logo-a {
  text-decoration: none;
}

.logo {
  /* border: solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text {
  font-size: 17px;
  color: rgb(184, 215, 240);
}

.nav-end {
  /* border: solid yellow; */
  display: flex;
  column-gap: 50px;
}

.Shesvla-bottom {
  border: solid rgb(176, 141, 231);
  background-color: rgb(71, 71, 134);
  border-radius: 10px;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 20px 3px 30px black;
}

.registracia-article {
  border: solid rgb(176, 141, 231);
  border-radius: 10px;
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 20px 3px 30px black;
}

.nav-end-a {
  color: rgb(184, 215, 240);
  font-size: 15px;
  text-decoration: none;
}

.Shesvla-bottom:hover {
  background-color: rgb(176, 141, 231);
  transition: 0.3s;
}

.Shesvla-article:hover > .nav-end-a {
  color: black;
  transition: 0.3s;
}

.registracia-article:hover {
  background-color: rgb(176, 141, 231);
  transition: 0.3s;
}

.registracia-article:hover > .nav-end-a {
  color: black;
  transition: 0.3s;
}

.wre-blur {
  position: absolute;

  box-shadow: 10px 0px 250px 200px rgb(255, 255, 61);
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 101;
}

.left-siteinfo-right-shesvla {
  display: flex;
  /* border: solid rgb(7, 212, 106); */
  column-gap: 50px;
  width: 95%;
  margin: 200px auto;
}

.site-info {
  height: 200px;
  /* border: solid; */
  width: 100%;
}

.geo-ge-span {
  color: rgb(184, 215, 240);
  box-shadow: 10px 13px 10px black;
  border-radius: 10px;
  border: solid rgb(176, 141, 231);
}

.h1 {
  color: rgb(176, 141, 231);
}

.h1-paragraf {
  color: rgb(184, 215, 240);
  line-height: 25px;
  margin-top: 20px;
}

.shesvla-article-sistem {
  height: 300px;

  border: solid rgb(176, 141, 231);
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 15px 30px black;
}

.shesvla-article-sistem-line {
  /* border: solid red; */
  width: 93%;
  height: 93%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  row-gap: 20px;
}

.input {
  background-color: rgb(184, 215, 240);
  width: 100%;
  height: 40px;

  color: blueviolet;
  font-family: sans-serif;
  border: none;
}

input:focus {
  outline: none;
}

.label {
  color: rgb(184, 215, 240);
}

.botton-flex-cont {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.botton-Shesvla {
  width: 100px;
  height: 30px;
  border: solid rgb(176, 141, 231);
  border-radius: 10px;
  background-color: rgb(71, 71, 134);
  cursor: pointer;
  color: rgb(184, 215, 240);
}

.botton-Shesvla:hover {
  background-color: rgb(176, 141, 231);
  transition: 0.3s;
  color: black;
}

.booton-dagaviwyda-paroli {
  text-decoration: none;
  color: rgb(184, 215, 240);
}
