* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(71, 71, 134); */
  background: linear-gradient(rgb(71, 71, 134) 40%, rgb(176, 141, 231) 100%);
}

.main {
  width: 90%;
  height: 900px;
  background: rgb(71, 71, 134);
  /* border: solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.fixed-section {
  /* border: solid yellow; */
  position: fixed;
  width: 89.5%;
  background: rgb(71, 71, 134);
  height: 120px;
  z-index: 100;
}

.nav {
  /* border: solid; */
  width: 100%;
  height: 100px;

  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo-image {
  width: 50px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 20px 13px 10px 6px black;
}

.logo-a {
  text-decoration: none;
}

.logo {
  /* border: solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text {
  font-size: 17px;
  color: rgb(184, 215, 240);
}

.nav-end {
  /* border: solid yellow; */
  display: flex;
  column-gap: 50px;
}

.Shesvla-bottom {
  border: solid rgb(176, 141, 231);
  background-color: rgb(71, 71, 134);
  border-radius: 10px;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.registracia-article {
  border: solid rgb(176, 141, 231);
  border-radius: 10px;
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-end-a {
  color: rgb(184, 215, 240);
  font-size: 15px;
  text-decoration: none;
}

.Shesvla-bottom:hover {
  background-color: rgb(176, 141, 231);
  transition: 0.3s;
}

.nav-end-a:hover {
  color: black;
  transition: 0.3s;
}

.registracia-article:hover {
  background-color: rgb(176, 141, 231);
  transition: 0.3s;
}

.wre-blur {
  position: absolute;

  box-shadow: 10px 0px 250px 200px rgb(255, 255, 61);
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 101;
}

.left-siteinfo-right-shesvla {
  display: flex;
  /* border: solid rgb(7, 212, 106); */
  column-gap: 50px;
  width: 95%;
  margin: 200px auto;
}

.site-info {
  height: 200px;
  /* border: solid; */
  width: 100%;
}

.geo-ge-span {
  color: rgb(184, 215, 240);
  box-shadow: 10px 13px 10px black;
  border-radius: 10px;
  border: solid rgb(176, 141, 231);
}

.h1 {
  color: rgb(176, 141, 231);
}

.h1-paragraf {
  color: rgb(184, 215, 240);
  line-height: 25px;
  margin-top: 20px;
}

.shesvla-article-sistem {
  height: 300px;

  border: solid rgb(176, 141, 231);
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shesvla-article-sistem-line {
  /* border: solid red; */
  width: 93%;
  height: 93%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  row-gap: 20px;
}

.input {
  background-color: rgb(184, 215, 240);
  width: 100%;
  height: 40px;

  color: blueviolet;
  font-family: sans-serif;
  border: none;
}

input:focus {
  outline: none;
}

.label {
  color: rgb(184, 215, 240);
}

.botton-flex-cont {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.botton-Shesvla {
  width: 100px;
  height: 30px;
  border: solid rgb(176, 141, 231);
  border-radius: 10px;
  background-color: rgb(71, 71, 134);
  cursor: pointer;
  color: rgb(184, 215, 240);
}

.botton-Shesvla:hover {
  background-color: rgb(176, 141, 231);
  transition: 0.3s;
  color: black;
}

.booton-dagaviwyda-paroli {
  text-decoration: none;
  color: rgb(184, 215, 240);
}

/* saitze shesvlis interfeisis meore versia */

.login-version2-section {
  width: 30%;
  height: 400px;
  background: #243b55;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* display: none; */
}

.loggin-box-version2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px black;
  border-radius: 10px;
}

.h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(184, 215, 240);
  text-align: center;
}

.version2-user-cont {
  position: relative;
}

.version2-input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: blueviolet;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

.version2-user-cont > label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(184, 215, 240);
  pointer-events: none;
  transition: 0.5s;
}

.version2-input:focus ~ label {
  top: -25px;
  left: 0;
  color: #03e9f4;
  font-size: 14.5px;
}

/* .version2-input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 16px;
} */

.version2-booton-submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #03e9f4;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.version2-booton-submit:hover {
  background: #03e9f4;
  color: rgb(80, 80, 80);
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.version2-booton-submit > span {
  position: absolute;
  display: block;
}

.version2-booton-submit > span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: line-run1 1s linear infinite;
}

@keyframes line-run1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.version2-booton-submit > span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 70%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: line-run2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes line-run2 {
  0% {
    top: -100px;
  }
  50%,
  100% {
    top: 100%;
  }
}

.version2-booton-submit > span:nth-child(3) {
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: line-run3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes line-run3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.version2-booton-submit > span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 2px;
  height: 70%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: line-run4 1s linear infinite;
  animation-delay: 0.6s;
}

@keyframes line-run4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
